/* -------------------------------SELECTION BTN------------------------- */
.superContainerSideBarArticlesAlignement{
  display: flex;
  flex-direction: column;
  margin-top: -10vh;
}


.containerSideBarArticlesAlignement {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.containerSideBarArticles {
  display: flex;
  justify-content: center;
  padding: 1vw;
  flex-direction: column;
}

.category-link-articles {
  padding: 1em;
  margin: 1vh;
}

.category-link-articles {
  text-decoration: none;
  color: var(--couleur-5);
}

/* -------------------------------CARDS ARTICLES------------------------- */

.containerInfoArticles {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}

.wrapper-news-articles {
  width: 80%;
  column-count: 3; /* Définit le nombre de colonnes souhaité */
  column-gap: 20px; /* Espacement entre les colonnes */
  padding: 1rem;
  padding-bottom: 10vh;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper-news-articles {
    column-count: 2; /* Réduisez le nombre de colonnes pour les écrans plus petits */
  }
}

@media screen and (max-width: 728px) {
  .wrapper-news-articles {
    column-count: 1; /* Une seule colonne pour les écrans très petits */
  }
}

.wrapper-news-articles article {
  width: 100%;
  margin-bottom: 1rem;    
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  appearance: none;
  background-color: var(--couleur-0);
  border-radius: 0.5em;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  cursor: pointer;
  fill: currentcolor;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 500;
  justify-content: flex-start;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
  border: 1.5px dashed var(--couleur-3);
  break-inside: avoid;
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}

.wrapper-news-articles article:hover {
  background: var(--couleur-3-05);
}

.wrapper-news-articles article:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.wrapper-news-articles article:focus {
  outline: none;
}

.wrapper-news-articles article:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.wrapper-news-articles article:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.wrapper-news-articles article:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.wrapper-news-articles article:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.wrapper-news-articles article:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.wrapper-news-articles article .entry-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper-news-articles article .entry-content p {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  object-fit: contain;
}

.wrapper-news-articles article .entry-header p img {
  width: 100%;
  height: auto;
}

.wrapper-news-articles article .entry-header {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper-news-articles article .entry-content {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
}

.entry-header .entry-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}

.wrapper-news-articles article header h2 a {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--couleur-5);
  text-decoration: none;
}

/* .wrapper-news-articles article .entry-content a {
  text-align: center;
}
 */

.wrapper-news-articles article .entry-content a {
  display: flex;
  align-items: center;
  appearance: none;
  background-color: var(--couleur-5);
  border-radius: 0.5em;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  cursor: pointer;
  fill: currentcolor;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  overflow: visible;
  padding: 1em 2em;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: auto;
  border: 1.5px dashed var(--couleur-3);
  color: var(--couleur-2);
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.wrapper-news-articles article .entry-content a:hover {
  background: var(--couleur-3-05);
  color: var(--couleur-5);
}

.wrapper-news-articles article .entry-content a:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.wrapper-news-articles article .entry-content a:focus {
  outline: none;
}

.wrapper-news-articles article .entry-content a:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.wrapper-news-articles article .entry-content a:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.wrapper-news-articles article .entry-content a:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.wrapper-news-articles article .entry-content a:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.wrapper-news-articles article .entry-content a:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}


.containerTitleArticles{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerTitleArticles h1{
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0;
}