/* ----------------------SIDECART--------------------------------- */
.custom-cart {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5vh;
  right: 0;
  width: 5vw;
  height: auto;
  background-color: var(--couleur-3-05);
  border-left: 1.5px dashed var(--couleur-4);
  border-top: 1.5px dashed var(--couleur-4);
  border-bottom: 1.5px dashed var(--couleur-4);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  z-index: 500;
}

.custom-cart:hover {
  background: var(--couleur-3);
  color: var(--couleur-5);
}

.custom-cart:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.custom-cart:focus {
  outline: none;
}

.custom-cart:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.custom-cart:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.custom-cart:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.custom-cart:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.custom-cart:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.custom-account {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20vh;
  right: 0;
  width: 5vw;
  height: auto;
  background-color: var(--couleur-3-05);
  border-left: 1.5px dashed var(--couleur-4);
  border-top: 1.5px dashed var(--couleur-4);
  border-bottom: 1.5px dashed var(--couleur-4);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  z-index: 500;
}

.custom-account:hover {
  background: var(--couleur-3);
  color: var(--couleur-5);
}

.custom-account:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.custom-account:focus {
  outline: none;
}

.custom-account:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.custom-account:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.custom-account:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.custom-account:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.custom-account:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.imgCart img {
  padding: 1rem;
}

.connectTxtSideBar {
  text-align: center;
  font-family: Nunito Sans;
  font-size: 0.8vw;
  font-weight: 400;
  color: var(--couleur-5);
  margin: 0;
  margin-bottom: 0.8em;
  margin-top: -1em;
  margin-left: 0;
  margin-right: 0;
}

/* -------------------------DESIGN CART ------------------------------- */
.containerTitleCart {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerTitleCart h2 {
  width: 80vw;
}

.content-area {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 15vh;
}

.woocommerce {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.woocommerce-message {
  border: 1.5px dashed var(--couleur-3);
  background-color: var(--couleur-0) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

.woocommerce-info {
  border: 1.5px dashed var(--couleur-3);
  background-color: var(--couleur-0) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
  rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  margin-bottom: 3vh!important;
}

.woocommerce-error {
  border: 1.5px dashed var(--couleur-3);
  background-color: var(--couleur-0) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

.shop_table {
  background-color: var(--couleur-0) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
}

.woocommerce-cart-form {
  width: 80vw;
}

.woocommerce table.shop_table {
  border: 1.5px dashed var(--couleur-3);
}

.coupon {
  display: flex;
  align-items: center;
}

.coupon #coupon_code {
  width: 8vw;
  padding: 10px;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  width: 40vw;
  margin-right: 5vw;
}

.woocommerce a.button.alt {
  width: auto;
  max-width: 100%;
  align-items: center;
  background-color: var(--couleur-5);
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  cursor: pointer;
  fill: currentcolor;
  font-family: Nunito Sans;
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  overflow: visible;
  padding: 1em 2em;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: 1.5px dashed var(--couleur-3);
}

.woocommerce a.button.alt:hover {
  background-color: var(--couleur-0);
  color: var(--couleur-5);
}

.input-text {
  border: 1.5px dashed var(--couleur-3);
  padding: 5px;
}

.cart .button {
  width: auto;
  max-width: 100%;
  align-items: center;
  color: var(--couleur-1);
  background-color: var(--couleur-5);
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  cursor: pointer;
  fill: currentcolor;
  font-family: Nunito Sans;
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  overflow: visible;
  padding: 1em 2em;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: 1.5px dashed var(--couleur-3);
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.cart .button:hover {
  background-color: var(--couleur-4);
  color: var(--couleur-6);
}

.cart-count {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 3.5vh;
  right: 8vh;
  background-color: var(--couleur-1);
  border: 1.5px dashed var(--couleur-4);
  z-index: 800;
  border-radius: 50%;
}
