.containerActualites {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-news {
  width: 80vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  z-index: 50;
}

.container-news a {
  margin: 1em;
  text-decoration: none;
  color: var(--couleur-5);
}

.containerTitleActualites {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleActualites {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2vw;
  padding-left: 2vw;
  margin-top: 1vh;
  margin-bottom: 0;
  color: var(--couleur-5);
  z-index: 50;
}

/* ---------------------------------------------------MEDIA QUERY--------------------------------------- */

@media (orientation: portrait) {
  .containerActualites {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titleActualites {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 0.5vw;
    padding-left: 0.5vw;
    margin-bottom: 3vh;
    margin-top: 3vh;
    color: var(--couleur-5);
    font-size: 8vw;
  }

  .container-news {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 50;
  }

  .container-news a {
    margin: 0.3em;
    font-size: 10px;
  }

  .container-news label {
    display: none;
  }

  /* .category-link-4articles {
    font-size: 10px;
  } */
}
